# filepath: c:\Users\erick\OneDrive\Documents\vscode\connect-russas-mobile-backend\.dockerignore
node_modules
dist
.env*
.git
.gitignore
Dockerfile
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs
*.log
coverage
.nyc_output
build
prisma/migrations
README.md